<% provide(:membership_active, 'active') %>
<h1>Membership#new</h1>
<p>Find me in app/views/membership/new.html.erb</p>

<%= link_to 'Home', root_path %>/Membership/

<div class="container">
	<br/>
	<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfxQGfHKZmpIsvrVFSwoSF-Bmam6k3_16m7b0DGFSXT1cuohw/viewform?embedded=true" width="1100" height="1020" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
</div>