#social-media-icons {
	border: 1px solid #0faa91;
	border-radius: 100%;
	display: inline-block;
	height: 2em;
	line-height: 2;
	text-align: center;
	width: 2em;
}

.fa-2x{
	font-size: 20px;
	
}

#social-media-icons:hover {
	background-color: #0faa91;
}