<nav class="navbar navbar-expand-lg navbar-dark bg-dark box-shadow">
  <%= favicon_link_tag asset_path('favicon.ico'), :rel => 'icon', :type => "image/x-icon" %>
  <div class="container">
  	<div class="container d-flex justify-content-between">
	  <a class="navbar-name navbar-brand" href="/"><strong>WYCAT</strong></a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav mr-auto">
	      <li class="nav-item #{yield(:gallery_active)}">
	        <a class="nav-link" href="#">Gallery <span class="sr-only">(current)</span></a>
	      </li>
	      <li class="nav-item">
	      	<%= link_to 'News', posts_path , class:"nav-link #{yield(:news_active)}" %>
	      </li>
	      <li class="nav-item">
	      	<%= link_to 'Membership', membership_path, class:"nav-link #{yield(:membership_active)}" %>
	      </li>
	      <li class="nav-item dropdown">
	        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	          Events
	        </a>
	        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
	          <%= link_to 'Year Calendar', events_path ,class: 'dropdown-item' %>
	          <a class="dropdown-item" href="#">Another action</a>
	          <a class="dropdown-item" href="#">Something else here</a>
	        </div>
	      </li>	      
	      <li class="nav-item dropdown">
	        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	          Dropdown
	        </a>
	        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
	          <a class="dropdown-item" href="#">Action</a>
	          <a class="dropdown-item" href="#">Another action</a>
	          <div class="dropdown-divider"></div>
	          <a class="dropdown-item" href="#">Something else here</a>
	        </div>
	      </li>
	    </ul>
	    <form class="form-inline my-2 my-lg-0">
	      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
	      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
	    </form>
	  </div>
	</div>
  </div>
</nav>


